<!DOCTYPE html>

<html>
    <head>
       <title>Change Password with old</title>
        
        <link rel="stylesheet" href="">
    </head>
    <body>
      <form action="" method="POST">
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}}{{fm}}{{fm.errors | striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
        <a href='{% url "logout" %}'>Logout</a>
      </form>

        
        <script src="" async defer></script>
    </body>
</html>