{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="contact-header">Get in Touch with Hot Gadget</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 contact-card">
            <div class="contact-title">Contact Information</div>
            <div class="contact-info">
                <p><strong>Phone Number:</strong> +880-1234-567890</p>
                <p><strong>Customer Support:</strong> +880-9876-543210</p>
                <p><strong>Email:</strong> support@hotgadget.com</p>
                <p><strong>Address:</strong> 123 Tech Avenue, Dhaka, Bangladesh</p>
            </div>

            <div class="contact-title">Follow Us</div>
            <div class="social-icons">
                <a href="https://facebook.com/hotgadget" target="_blank" title="Facebook"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://instagram.com/hotgadget" target="_blank" title="Instagram"><i class="fab fa-instagram"></i> Instagram</a>
            </div>

        </div>
    </div>
</div>


{% endblock content %}

